{% extends "medslist_base.html" %}
{% load octicons %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% block content %}
<p>&nbsp;</p>
<h2>Medicijn</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="card bg-light mb-3" style="width: 50rem;">
	<div class="card-header"><strong>{{ drug.name }}</strong> </div>
  <!--<img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <p class="card-text">
       {% csrf_token %}
       {% crispy form %}
    </p>
  </div>
</div>

{% endblock %}
