{% if plist.has_other_pages %}
  <nav aria-label="pagination">
  <ul class="pagination">
    {% if plist.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ plist.previous_page_number }}">Vorige</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Vorige</span></li>
    {% endif %}
    {% for i in plist.paginator.page_range %}
      {% if plist.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if plist.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ plist.next_page_number }}">Volgende</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Volgende</span></li>
    {% endif %}
  </ul>
  </nav>
{% endif %}
