Django==3.1.9
django-admin==2.0.0
django-six==1.0.4
python-dateutil==2.8.1
pytz==2019.3
django-crispy-forms==1.8.0
psycopg2==2.8.4
django-octicons==1.0.2
django-simple-history==2.8.0
# get django-audit_log from github
# https://github.com/vvangelovski/django-audit-log
#django-audit-log==0.7.0
#django-split-json-widget==1.16
#jsonfield==2.0.2
django-organizations==1.1.2
django-extensions==2.2.5
django-stub
pylint
mypy
django-pandas==0.6.1
pandas==0.25.3
numpy==1.17.4
django-widget-tweaks==1.4.5
django-filter==2.2.0
celery==4.4.0
django-celery-results==1.1.2
redis==3.3.11
