{% extends "signoff_base.html" %}

{% block content %}
<p>&nbsp;</p>
  <h2>Aftekenen Prescripties voor Client  </h2>
  <h5>Vandaag, {{ dtime_date_today }}</h5>
  {% if plist %}
  <table class="table table-striped table-sm">
	  <tbody>
    {% for p in plist %}
      <h6>{{p.client}}</h6>
      <tr>
	      <td><a href="{{p.get_absolute_url}}/medslist/client/{{p.pk}}">{{p.name }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>

  {% include "pagination.html" %}

  {% else %}
    <p>There are no clients in the database.</p>
  {% endif %}
{% endblock %}
