{% extends "signoff_base.html" %}
{% load octicons %}
{% block content %}
<p>&nbsp;</p>
  <h2>Aftekenen Vandaag</h2>
  <h3>{{period_hr}}</h3>
  <!--<h6>{{weekday_hr}}, {{dtime_date_today}}</h6>-->
  {% if plist %}
  <table class="table table-striped table-sm">
      <tbody>
    {% for p in plist %}
    {% if p.is_signedoff %}
      <tr>
          <td><del>{{p.tobe_administered_who}}</del></td>
          <td><del>{{p.tobe_administered_what}}</del></td>
          <td>Afgetekend {{p.is_signedoff_when}} door {{p.is_signedoff_who}}</td>
      </tr>
      {% else %}
      <tr>
          <td><a href="{% url 'signoff-today-pe' pe_id=p.pk %}">{{p.tobe_administered_who}}</a></td>
          <td>{{p.tobe_administered_what}}</td>
          <td>Nog niet afgetekend</td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
  </table>

  {% include "pagination.html" %}

  {% else %}
    <p>Er valt niets af te tekenen.</p>
  {% endif %}
{% endblock %}
